@tailwind base;
@tailwind components;
@tailwind utilities;


.homeShadow{
    box-shadow: 0 3px 10px rgb(0,0,0,0.5);
}

.dashboardShadow{
    box-shadow: 1px 1px 3px rgb(0,0,0,0.5);
}

.loginShadow{
    box-shadow: 0 3px 4px rgb(0, 0 , 0, 0.4);
}

.topShadow{
    box-shadow: 4px 0px 10px rgb(0,0,0,0.5);
}
.shadow{
    box-shadow: 0 3px 10px rgb(0,0,0,0.5);
}
.my-shadow{
    box-shadow: 0 3px 10px rgb(0, 0 , 0, 0.4);
}

.sm-shadow{
    box-shadow: 0 3px 4px rgb(0, 0 , 0, 0.4);
}